.about-container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items:center
}

.heading{
  text-align: center;
  font-size: 44px;
}
h2{
    text-align: center;
}
.about-us-text{
    width:40%;
    height: 500px;
    text-align: center;
   
}
@media(max-width:1000px){
    .about-us-text{
        width:70%;
        height: 500px;
    }
}