.footer-container{
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 3vh;
}
.footer-container .footer-item{
    margin-left: 7px;
    color: black;
    font-weight: bold;
}
.footer-item:hover{
    
    color:rgb(110, 105, 105);
    
}