 .main-container{
   box-shadow: 1px 5px 15px 0px gray;
    font-family: sans-serif;
    background-color: aqua;
}
.container{
    background-color: tomato;
} 
.right-div{
    background-color: #87A798;
    color: white;
 }
 .right-div h1{
    background-color: violet;
}
.red{
    width: 300px;
    height: 40px;
    background-color: red;
}
/*


.form{
    color:gray;
}

button{
   
    background-color: #87A798;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: none;

}

input{
   
    height: 30px;
    border:none;
    border-bottom: grey 1px solid;
}

.errormessage{
    color: rgb(250, 133, 133);
}

.submitted{
   
    border:1px #87A798 solid;
   
}
ul li{
    list-style: none;
    margin: 30px auto;
    text-align: center;
}
.submitted h1{
    text-align: center;
}



.form{
    background-color: thistle;
}




*/