.App{
  /* background-image: linear-gradient( to bottom, blue, violet
  ); */
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

